@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,900,700,100);

*
{
	border: none;
	padding: 0em;
	margin: 0em;
	list-style: none;
	color: inherit;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

header
{
	background-color: rgba(34,34,34,1.00);
	color: rgba(212,200,30,1.00);
	font-size: 2.4em;
	padding: 5vh 0vh;
	text-align: center;
	height: 10vh;
	font-weight: 900;
}

main
{
	background-color: rgba(212,200,30,1.00);
	color: rgba(34,34,34,1.00);
	height: 36vh;
	padding-top: 28vh;
	font-size: 2.8em;
	text-align: center;
	font-weight: 100;
}

footer
{
	background-color: rgba(34,34,34,1.00);
	color: rgba(239,239,239,1.00);
	font-size: 1.4em;
	padding: 5vh 0vh;
	font-weight: 400;
	text-align: center;
	height: 6vh;
}
